.table-layout {
    height: calc(100vh - 2 * 5rem);
    padding: 2rem;
}

.table-item {
    font-family: var(--font-family);
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    display: grid;
    place-content: center;
    transition: .1s;
}

.table-item:hover {
    cursor: pointer;
    font-size: 1.2rem;
    transition: .2s;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
    height: 100%;
}

h1 {
    margin-bottom: 1rem;
}

.table-1 {
    grid-area: 1 / 1 / 2 / 2;
}

.table-2 {
    grid-area: 1 / 2 / 2 / 4;
}

.table-3 {
    grid-area: 1 / 4 / 2 / 5;
}

.table-4 {
    grid-area: 1 / 5 / 3 / 6;
}

.table-5 {
    grid-area: 2 / 1 / 3 / 3;
}

.table-6 {
    grid-area: 2 / 3 / 3 / 5;
}

.table-7 {
    grid-area: 3 / 1 / 4 / 2;
}

.table-8 {
    grid-area: 3 / 2 / 4 / 4;
}

.table-9 {
    grid-area: 3 / 4 / 5 / 5;
}

.table-10 {
    grid-area: 3 / 5 / 5 / 6;
}

.table-11 {
    grid-area: 4 / 1 / 5 / 2;
}

.table-12 {
    grid-area: 4 / 2 / 5 / 3;
}

.table-13 {
    grid-area: 4 / 3 / 5 / 4;
}

.active-table {
    background: #444dfc;
    color: white;
    font-weight: bold;
}

.active-items {
    background: #FCC844;
    color: #44340b;
    font-weight: bold;
}

.drop-shadow {
    box-shadow: 0px 4px 17px rgb(184, 2, 240);
}

.legend-list {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    align-items: center;
    margin-bottom: 2.8rem;
}

.legend-list li{
    display: flex;
    gap: .3rem;
    align-items: center;
}

.grid div{
    display: flex;
    place-items: center;
    gap: .2rem;
}

