.leftsidebar {

    padding: 2rem;
    border-radius: 10px;
    background-color: white;
    filter: drop-shadow(0 0 0.75rem rgba(51, 51, 51, .2));
}

.app-layout {
    display: grid;
    grid-template-columns: 1fr 60vw 1fr;
    font-family: var(--font-family);
    height: calc(100vh - 2 * 1rem);
}

.table--name {
    text-transform: uppercase;
    font-size: 1.5rem;
}